<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>component</title>
    <script type="text/javascript" src="../js/lib/vue.js"></script>
    <style>
        hr{
            margin-top: 15px;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <!-- 1. 全局组件 所有实例都能用全局组件-->
    <div id="globalComponentDiv">
        <!-- 调用自定义的全局组件 -->
        <runoob_g></runoob_g>

        <!-- 调用在别的模板定义的局部组件会报错 -->
        <!--<runoob_p></runoob_p>-->
    </div>
    <hr/>

    <!-- 2. 局部组件 在实例选项中注册局部组件，这样组件只能在这个实例中使用 -->
    <div id="partComponentDiv">
        <!-- 调用自定义的局部组件 -->
        <runoob_p></runoob_p>
    </div>
    <hr/>

    <!-- 3. prop 是父组件用来传递数据的一个自定义属性 父组件的数据需要通过 props 把数据传给子组件，子组件需要显式地用 props 选项声明 "prop" -->
    <div id="propComponentDiv">
        <prop_comp message="你还要我怎样" title=" 白发苍苍"></prop_comp>
    </div>
    <hr/>

    <!-- 4. 动态 Prop 类似于用 v-bind 绑定 HTML 特性到一个表达式，也可以用 v-bind 动态绑定 props 的值到父组件的数据中。每当父组件的数据变化时，该变化也会传导给子组件 -->
    <div id="dynamicPropComponentDiv">
        <div>
            <input v-model="parentMsg">
            <br/>
            <prop_comp v-bind:message="parentMsg" v-bind:title="parentMsg"></prop_comp>
        </div>
    </div>
    <hr/>

    <!-- 5. v-bind 指令将 todo 传到每一个重复的组件中 -->
    <div id="propComponetExampleDiv">
        <ol>
            <todo-item v-for="item in sites" v-bind:todo="item"></todo-item>
        </ol>
    </div>
    <hr/>

    <!-- 6. 自定义事件 父组件是使用 props 传递数据给子组件，但如果子组件要把数据传递回去，就需要使用自定义事件
        使用 $on(eventName) 监听事件; 使用 $emit(eventName) 触发事件
    -->
    <div id="cusEventComponentDiv">
        <p>{{total}}</p>
        <button-counter id="btn1" name="btn1" v-on:increment="incrementTotal"></button-counter>
        <button-counter id="btn2" name="btn2" v-on:increment="incrementTotal"></button-counter>
    </div>
    <hr/>

    <script>
        //1. 全局组件 所有实例都能用全局组件
        // 注册全局组件
        Vue.component('runoob_g', {
            template: '<h1>自定义全局组件！</h1>'
        });

        //创建根实例
        var globalComponentVue = new Vue({
            el: '#globalComponentDiv'
        });


        //2. 局部组件 在实例选项中注册局部组件，这样组件只能在这个实例中使用
        var child = {
            template: '<h1>自定义局部组件！</h1>'
        };
        var partComponentVue = new Vue({
            el: '#partComponentDiv',
            components: {
                'runoob_p' : child
            }
        });

        //3. prop 是父组件用来传递数据的一个自定义属性 父组件的数据需要通过 props 把数据传给子组件，子组件需要显式地用 props 选项声明 "prop"
        Vue.component('prop_comp', {
            //声明props
            props: ['message', 'title'],
            //同样也可以在vm实例中像 "this.message" 这样使用
            template: '<span>{{message + "  " + title}}</span>'
        });

        var propComponentVue = new Vue({
            el: '#propComponentDiv'
        });

        //4. 动态 Prop 类似于用 v-bind 绑定 HTML 特性到一个表达式，也可以用 v-bind 动态绑定 props 的值到父组件的数据中。每当父组件的数据变化时，该变化也会传导给子组件
        var dynamicPropComponentVue = new Vue({
            el: '#dynamicPropComponentDiv',
            data: {
                parentMsg: '父组件内容'
            }
        });

        //5. v-bind 指令将 todo 传到每一个重复的组件中
        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{todo.text}}</li>'
        });

        var propComponentExampleVue = new Vue({
            el: '#propComponetExampleDiv',
            data: {
                sites: [
                    {text: 'Runoob'},
                    {text: 'Google'},
                    {text: 'Taobao'}
                ]
            }

        });

        //6. 自定义事件 父组件是使用 props 传递数据给子组件，但如果子组件要把数据传递回去，就需要使用自定义事件
        // 使用 $on(eventName) 监听事件; 使用 $emit(eventName) 触发事件
        Vue.component('button-counter', {
            props: ['id', 'name'],
            template: '<button v-bind:id="id" v-bind:name="name" v-on:click="increment">{{counter}}</button>',
            data: function () {
                return {
                    counter: 0
                }
            },
            methods: {
                increment: function () {
                    var tagName = event? event.target.tagName: '';
                    alert(tagName + ' doThis');
                    this.counter += 1;
                    this.$emit('increment');
                }
            }
        });

        var cusEventcomponentVue = new Vue({
            el: '#cusEventComponentDiv',
            data: {
                total: 0
            },
            methods: {
                incrementTotal: function () {
                    this.total += 1;
                }
            }
        });

    </script>
</body>
</html>